<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986477669457-q2v3qe63jv2s1gbasekhhvjh7gqmuojh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986477669457-q2v3qe63jv2s1gbasekhhvjh7gqmuojh</string>
	<key>API_KEY</key>
	<string>AIzaSyAzT52jR6RhE-12lkAXSuugGe1XqpH2TH8</string>
	<key>GCM_SENDER_ID</key>
	<string>986477669457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seosh.CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcard-list-a175e</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-list-a175e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986477669457:ios:413e646b3adeacdb3c5c70</string>
</dict>
</plist>